
  
    
    <div class="section-heading">
       
   
    
      
    
      <div class="story">
        <h1>About Us</h1>
      <img src="images/your-restaurant.jpg" alt="Restaurant Image" style="width: 30%; border-radius: 10px; box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 15px;">
      <p>Welcome to our restaurant! Our journey began in [year], when [founder's name] had a dream of creating a place where people could enjoy delicious meals in a cozy atmosphere.</p>
      <p>With a passion for cooking and a love for hospitality, [founder's name] started experimenting with recipes and flavors, aiming to bring something unique to the dining scene.</p>
      <p>After months of hard work and dedication, our restaurant finally opened its doors to the public. Since then, we have been serving mouthwatering dishes made with the finest ingredients and a lot of love.</p>
      <p>Today, our restaurant has become a beloved destination for food enthusiasts and families alike. We continue to uphold our commitment to quality and excellence in everything we do.</p>
     </div>
  </div>



