<div class="hero-section">
  
  
  <div class="hero-content">
    
      <h1>Welcome</h1>
      <p>Discover the finest cuisine in town</p>
      <div> 
        <%- include('menu.ejs') %>
       
      </div>
      
  </div>
</div>