<div  id="menu-container">
        <div class="menu-button" onclick="toggleMenu()">Menu</div>
        
        <div class="menu-content" id="menu-content">
            
                <div class="search-form" ><input  type="text" id="searchInput" placeholder="Search menu..."></div>
                <%- include("scroller.ejs"   , { menuCategories }) %>
                
        </div>
       
              
    </div>