<div  id="menu-container">
        <div class="menu-button" onclick="toggleMenu()">See Menu</div>
        
        <div class="menu-content" id="menu-content">
            
                <button class="btn-2">Breakfast Menu</button>
                <button class="btn-2">Lunch Menu</button>
                <button class="btn-2">Dinner Menu</button>
                <%- include("scroller.ejs") %>
                
        </div>
       
              
    </div>