
    
    <ul>      
      <li><a href="/order" >Order Now!</a></li>
      <li><a href="/about" >About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/investors" >Investors</a></li>
      <button class="closeBtn" onclick="closeNav()" >Close</button>
    </ul>
    
  