<div id="popUpNav" class="overlay">
  <div class="overlay-content">
      <a href="/order" data-scroll>Order Now!</a>
      <a href="/about" data-scroll>About</a>
      <a href="/contact" data-scroll>Contact</a>
      <a href="/investors" data-scroll>Investors</a>        
  </div>
  <div class="overlay" id="overlay-content"> 
    
   Hello World

    </div>
  
  </div>
  <span class="closeBtn" onclick="closeNav()">Close</span>
</div>