
 
  <div class="menu-scroll">
    <div class="menu-items">
      <div class="menu-item">
        <img src="images/hamburger.jpg" alt="Food 1">
        <h3>Hamburgers</h3>
        <p>Description of menu item 1.</p>
      </div>
      <div class="menu-item">
        <img src="images/deli-sandwich.jpg" alt="Food 2">
        <h3>Deli Sandwiches</h3>
        <p>Description of menu item 2.</p>
      </div>
      <div class="menu-item">
        <img src="images/side-dishes.jpg" alt="Food 3">
        <h3>Side Dishes</h3>
        <p>Description of menu item 3.</p>
      </div>
      <div class="menu-item">
        <img src="images/drinks.jpg" alt="Food 4">
        <h3>Drinks</h3>
        <p>Description of menu item 4.</p>
      </div>
      <div class="menu-item">
        <img src="images/hamburger.jpg" alt="Food 5">
        <h3>Drinks</h3>
        <p>Description of menu item 5.</p>
      </div>
      <div class="menu-item">
        <img src="images/deli-sandwich.jpg" alt="Food 2">
        <h3>Deli Sandwiches</h3>
        <p>Description of menu item 2.</p>
      </div>
      <!-- Add more menu items as needed -->
    </div>
  </div>
  

