<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
   
    <!-- Custom CSS -->
    <link href="/styles/styles.css" rel="stylesheet">
</head>
<body>
    
    <%- include('components/bgVideo.ejs') %>
      <div><%- include('/components/header.ejs') %></div>
     
      
      <div><%- include('components/hero.ejs') %></div>

      


      <div><%- include('components/footer.ejs') %></div>  
    
    
    
</body>
<script src="js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
